<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>

    <div class="form-container">
        <form action="{{ url_for('register') }}" method="post">
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </p>
            <p>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </p>
            <p>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
            </p>
            <p>
                <input type="submit" value="Register">
            </p>
        </form>
    </div>
</body>
</html>
